@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
/* varibale  */
:root {
  --main-color:#1663AA;
  --text-color: #020102;
  --bg-color: #fff;
}
/* custom scroll bar */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);
}
section {
  padding: 4rem 0 2rem;
}
img {
  width: 100%;
}
body {
  color: var(--text-color);
}

.container {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 7px 25px -2px rgba(0, 0, 0, 0.75);
}
header.shadow{
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.75);
    transition: 0.5s ease;
}

header.shadow #search-icon{
    color: var(--text-color);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
  display: none;
}
.logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-color);
}
.logo span {
  color: var(--main-color);
}

.navbar {
  display: flex;
  column-gap: 2rem;
}
.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar a:hover,
.navbar .active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#search-icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--bg-color);
}

.search-box {
  position: absolute;
  top: 110%;
  right: 0;
  left: 0;
  background-color: var(--bg-color);
  box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
  border: 1px solid var(--main-color);
  border-radius: 0.5rem;
  clip-path: circle(0% at 100% 0%);
}
.search-box.active {
  clip-path: circle(144% at 100% 0%);
  transition: 0.4s ease;
}
.search-box input {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  background: transparent;
  font-style: 1rem;
}

/* Home section css */
.home {
  margin: auto;
  width: 100%;
  min-height: 640px;
  display: flex;
  align-items: center;
  background: url(img/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}
.home-text {
  padding-left: 130px;
}
.home-text h1 {
  font-size: 2.4rem;
  letter-spacing: 6px;
  font-weight: bolder;

}
.home-text span {
  color: var(--main-color);
}

.home-text p {
  font-size: 0.938rem;
  font-weight: 500;
  margin: 0.5rem 0 2.2rem;
}
.btn {
  padding: 10px 22px;
  border: 1px solid rgb(34, 0, 255);
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
}
.btn:hover {
  background:light skyblue;
  box-shadow: -1px 15px 40px 4px rgba(0, 0, 0, 0.75);
  transition: 0.4s ease-out;
}
.heading {
  text-align: center;
}

.heading span {
  font-weight: 700;
  color: var(--main-color);
  font-size: 20px;
  letter-spacing: 3px;
}
.heading p {
  font-size: 0.938rem;
  font-weight: 300;
}

/* cars section css */
.cars-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
.cars-container .box {
  flex: 1 1 17rem;
  position: relative;
  height: 200px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.cars-container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.cars-container .box img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.cars-container .box h2 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: 400;
  font-style: 1rem;
  background: var(--bg-color);
  padding: 8px;
  border-radius: 0.5rem;
}

.cars-container .box:hover h2 {
  background-color: var(--main-color);
  color: var(--bg-color);
}

/* About section css */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
.about-img {
  flex: 1 1 21rem;
}
.about-text {
  flex: 1 1 21rem;
}

.about-text span {
  font-weight: 700;
  font-size: 2rem;
  color: var(--main-color);
}

.about-text h2 {
  font-size: 1.7rem;
}

.about-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 2.5rem;
}

.parts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
.parts-container .box {
  flex: 1 1 17rem;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  border-radius: 0.5rem;
}
.parts-container .box img {
  width: 100%;
  height: 150px;
  object-fit: container;
  object-position: center;
  margin-bottom: 1rem;
}
.parts-container .box h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
.parts-container .box span {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
}
.parts-container .box .bx {
  color: var(--main-color);
  margin: 0.8rem 0;
}
.parts-container .box .btn {
  max-width: 120px;
}
.parts-container .box .details {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1.8rem;
  right: 1rem;
  font-size: 1rem;
  color: var(--text-color);
}
.parts-container .box .details:hover {
  color: var(--main-color);
  text-decoration: underline;
}

/* Blog section css */

.blog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
.blog-container .box {
  flex: 1 1 13rem;
  padding: 20px;
}

.blog-container .box:hover{
    background-color: #f6f6f6;
}
.blog-container .box span{
    font-size: 0.8rem;
    color: var(--main-color);
}
.blog-container h3{
    font-size: 1.2rem;
}
.blog-container .box p{
    font-size: 0.938rem;
    margin: 4px 0;
}

.blog-container .box .blog-btn{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);
}

.blog-container .box .blog-btn .bx{
    font-size: 20px;
}
.blog-container .box .blog-btn:hover{
    color: var(--main-color);
    column-gap: 0.7rem;
    transition: 0.4s;
}

/* footer section css */
.footer{
    background: var(--text-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;
}
.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}
.social a:hover{
    color: var(--main-color);
}

.footer-box h3{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a,.footer-box p {
    font-size: 1.1rem;
    color: #818181;
    margin-bottom: 10px;
}
.footer-box a:hover{
    color: var(--main-color);
}

.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background:var(--text-color) ;
}
/* making responsive */
@media (max-width : 1080px){
    .container{
     margin-left: 1rem;
     margin-right: 1rem;
    }
 }
 
 @media(max-width: 991px){
     .nav{
         padding: 15px 20px;
     }
     section{
         padding: 3rem 0 1rem;
     }
     .home-text{
         padding-left: 2rem;
     }
     .home-text h1{
         font-size: 2.1rem;
     }
 }
 
 @media (max-width: 920px) {
       #search-icon{
         color: var(--text-color);
       }
 }
 
 @media (max-width: 768px) {
       .search-box input{
       padding: 15px;
     }
     .nav{
         padding: 10px 0;
     }
     #menu-icon{
         display: initial;
     }
     .navbar{
         position: absolute;
         top: 100%;
         right: 0;
         left: 0;
         display: flex;
        flex-direction:  column;
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 /20%);
        background: var(--bg-color);
        clip-path: circle(0% at 0% 0%);
        transition: 0.6s ease;
     } 
     .navbar.active{
         clip-path: circle(144% at 0% 0%);
     }
     .navbar a{
         display: block;
         padding: 15px;
     }
     .navbar a:hover, .navbar .active{
         border-bottom: none;
         background-color: var(--main-color);
         color: var(--bg-color);
     }
     .blog-container .box{
         padding: 4px;
     }
 }
 
 
 @media( max-width:727px){
     .heading span{
         font-size: 0.9rem;
     }
     .heading h2{
         font-size: 1.4rem;
     }
     .about {
         flex-direction: column-reverse;
     }
     .about-text{
         text-align: center;
     }
     .about-text h2{
         font-size: 1.4rem;
     }
 }
 
 @media (max-width:607px){
     .footer-container{
         display: grid;
         grid-template-columns: 1fr 1fr;
     }
 }
 
 @media (max-width:360px){
     .search-box input{
         padding: 11px;
     }
     .home{
         min-height: 500px;
     }
     .home h1{
         font-size: 2rem;
     }
     .home p br{
         display: contents;
     }
 }